<div class="container">
  <h1 style="margin-top: 25px; margin-bottom: 25px">LEADERBOARD</h1>

  <table class="table table-striped table-bordered" id="data-table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Car</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <!-- Data will be inserted here -->
    </tbody>
  </table>

  <h1>Gallery</h1>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <img
          src="https://hips.hearstapps.com/hmg-prod/images/2019-dodge-challenger-srt-hellcat-redeye-comparison-104-1581425446.jpg?crop=0.679xw:0.765xh;0.0879xw,0.171xh&resize=768:*"
          class="grid-img"
          alt="Image 1"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          onclick="showImage(this)"
        />
      </div>
      <div class="col-md-4 mb-4">
        <img
          src="https://images.collectingcars.com/021520/MMP-230602-6.jpg?w=1263&fit=fillmax&crop=edges&auto=format,compress&cs=srgb&q=85"
          class="grid-img"
          alt="Image 2"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          onclick="showImage(this)"
        />
      </div>
      <div class="col-md-4 mb-4">
        <img
          src="https://www.americanmusclecarmuseum.com/files/cars/2015-ford-shelby-gt350-50th-anniversary-1.jpg"
          class="grid-img"
          alt="Image 3"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          onclick="showImage(this)"
        />
      </div>
      <div class="col-md-4 mb-4">
        <img
          src="https://images.pistonheads.com/nimg/47794/blobid0.jpg"
          class="grid-img"
          alt="Image 4"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          onclick="showImage(this)"
        />
      </div>
      <div class="col-md-4 mb-4">
        <img
          src="https://www.topgear.com/sites/default/files/images/news-article/2020/02/27f6188cc599bcd813af2e92bbd8489c/cupra-ibiza-1.jpg"
          class="grid-img"
          alt="Image 5"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          onclick="showImage(this)"
        />
      </div>
      <div class="col-md-4 mb-4">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Peugeot.307.northdevon.arp.750pix.jpg"
          class="grid-img"
          alt="Image 6"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          onclick="showImage(this)"
        />
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageModalLabel">Image View</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <img src="" id="modalImage" class="img-fluid" alt="Larger View" />
        </div>
      </div>
    </div>
  </div>

  <h1>FAQ</h1>
  <div class="accordion" id="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          What is 402m drag?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          A 402m drag race, commonly known as a quarter-mile drag race, is a
          motorsport event where two vehicles compete to cover a straight
          distance of 402 meters (approximately 1,320 feet) in the shortest time
          possible. These races are typically held on a drag strip and focus on
          the vehicles' acceleration, speed, and driver skill, providing a
          thrilling and competitive spectacle.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Who can participate?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          That's the best part - Everyone can! All you need to do is pass either
          on-track inspection or bring less than half-year-old TUV certificate.
          Then, apply for a category and you're all set!
        </div>
      </div>
    </div>
    <div class="accordion-item" style="margin-bottom: 150px">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Are tuned cars allowed?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Of course! While there is no shame trying out the stock stuff and
          testing your driving abilities, you're more than welcome to showcase
          your tuning potential. We've seen it all - From stage 4 hot hatches to
          RB26DETT swapped family estates. Our motto is - If it's fun, do it!
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  loadTableData();
</script>
<script>
  function showImage(element) {
    var imgSrc = element.getAttribute("src");
    var modalImage = document.getElementById("modalImage");
    modalImage.setAttribute("src", imgSrc);
  }
</script>
