nav {
  border-bottom: 2px solid black;
}

.card {
  width: 100% !important;
  height: 100% !important;
  transition: outline 0.3s ease !important;
}

.card:hover {
  outline: 4px solid greenyellow !important;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* Style the logo */
.navbar-logo {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#modal {
  margin-top: 25px;
}
