/* Custom */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(0, 16%, 30%);
  height: 60px;
  display: flex;
  align-items: center;
}

nav #logos {
  margin-left: 20px;
  position: absolute; /* Position the logo absolutely */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto; /* Push the buttons to the right */
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}
